<div class="jumbotron jumbotron-fluid text-center mt-5 jb">
    <div class="container">
        <h1 class="display-4"> ~ Pizarra ~ </h1>
        <p class="lead">Ésta es una aplicación donde podrás administrar tu salón de clases. Calificaciones, asistencia, trabajos y mucho más.</p>
    </div>
</div>
<br>
<div class="get-started">
    <h4>Empieza a trabajar con Pizarra.</h4>
</div>
<hr>

<div class="botones text-center">
    <button type="button" class="btn btn-outline-danger">Iniciar sesión <i class="fas fa-sign-in-alt"></i></button>
    <button type="button" class="btn btn-outline-success">Registrarse <i class="fas fa-user-plus"></i></button>
    <button type="button" class="btn btn-outline-primary">Ver planes <i class="fas fa-box-open"></i></button>
</div>